$app-color-primary:               #E42C1B;
$app-color-white:                 #F6F6F6;
$app-color-grey-background:       #EFEFEF;
$app-color-grey-text:             #6F7271;
$app-color-grey-text-hovered:     #4C4C4C;
$app-color-grey-logo:             #3D4644;
$app-color-black-text-selected:   #383838;

$app-color-money-gain:            rgb(5, 177, 105);
$app-color-money-loss:              $app-color-primary;
